@import url("./mainModal.scss");
@import url("./project.scss");

.header__user {
    font-size: 20px;
    font-weight: 400;    
    margin-right: 20px;
}

.header__add-button {
    color: #1b375e;
    border: 1px solid #1b375e;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav__item-logout {
    margin-right: -5px;
    border: none;
    background-color: transparent;
    outline: none;
}