.mainModal {
    border: 1px solid #1b375e;
    background-color: #fff;
    border-radius: 15px;
    color: #1b375e;
    margin: auto;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainModal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.mainModal__header-title {
    font-weight: 500;
    margin-right: 50px;
}

.mainModal__header-close {
    border: none;
    outline: none;
    color: #1b375e;
    font-size: 35px;
}

.mainModal__msg {
    margin-bottom: 10px;
}

.mainModal__form {
    display: flex;
    flex-direction: column;   
    width: 100%;
}

.mainModal__form-item{
    border: 1px solid #1b375e;
    color: #1b375e;
    border-radius: 7px;
    outline: none;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 10px;
}

.mainModal__form-item-textarea {
    height: 100px;
    resize: none;
}

.mainModal__form-button {
    padding: 10px;
    margin-left: auto;
    color: #1b375e;
    border: 1px solid #1b375e;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}