@import  '../../mixins';
@import  '../../variables';

.main__projects {
    display: grid;
    margin-top: 25px;
    padding: 0;
    align-items: start;
    grid-auto-flow: dense;
    grid-template-columns: 50% 50%;

    &-item {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid $darkblue-color;
        border-radius: 10px;
        margin: 20px;
        box-sizing: border-box;
    }

    &-header {
        width: 100%;
        border-radius: 9px 9px 0 0;
        padding: 20px;
        box-sizing: border-box;

        &-name {
            color: #f9fdff;
            font-weight: 500;
            font-size: 23px;
            word-wrap: break-word;
            width: 100%;
        }
    }
    
    &-main {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 0 0 9px 9px;
        opacity: 0.9;
    }
    
    &-description {
        font-size: 20px;
        word-wrap: break-word;
        width: 100%;
        line-height: 25px;
        margin-bottom: 10px;
    }
    
    &-subtitle {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
    &-members {
        margin-bottom: 20px;
        padding: 0;
        margin-left: 15px;
    
        & :last-child {
            border-bottom: none;
        }
    
        &-item {
            display: flex;
            margin-bottom: 10px;
            padding-bottom: 5px;
            justify-content: space-between;
            border-bottom: 1px solid $darkblue-color;
            align-items: center;
        
            &-user {
                display: flex;
                justify-content: space-between;
                margin-right: 20px;
                font-size: 20px;
                width: 85%;
            
                &-name {
                    font-weight: 500;
                    margin-right: 20px;
                }
            }
            
            &-close {
                color: $darkblue-color;
                border: none;
                outline: none;
                font-size: 25px;
                background-color: transparent;
            }
        }
    }

    &-msg {
        @include msg();
    }
    
    &-form {
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        &-item {
            margin-right: 20px;
            width: 85%;
            @include form-item();
        }
        
        &-button {
            margin-left: auto;
            width: 15%;
            @include button()
        }
    }
}