@import  '../../mixins';
@import  '../../variables';

#modal {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: $blue-color;
    opacity: .97;
}