@import  '../../mixins';
@import  '../../variables';

.addModal {
    @include form(40px);
    color: $darkblue-color;
    margin: auto;
    box-sizing: border-box;
    min-width: 500px;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        font-size: 25px;
    
        &-title {
            font-weight: 500;
            margin-right: 50px;
        }
        
        &-close {
            border: none;
            outline: none;
            color: $darkblue-color;
            font-size: 35px;
        }
    }
    
    &__msg {
        @include msg();
    }
    
    &__form {
        display: flex;
        flex-direction: column;   
        width: 100%;
    
        &-item {
            @include form-item();
            margin-bottom: 10px;
            -webkit-appearance: none;
        }

        &-time {
            display: flex;
            align-items: center;    
            margin-bottom: 10px;

            &-item {
                @include form-item();
                padding: 7px;
                width: 250px;
            }

            & :first-child{
                margin-right: 15px;
            }
            & :last-child{
                margin-left: 15px;
            }
        }
        
        &-item-textarea {
            height: 100px;
            resize: none;
        }
        
        &-button {
            margin-left: auto;
            @include button();
        }
    }
}