@import  '../../mixins';
@import  '../../variables';

.diary {
    display: flex;
    justify-content: space-between;


    &__time {
        display: flex;
        flex-direction: column;
        min-width: 3%;
        margin-top: 25px;

        &-item {
            height: 51px;
            text-align: right;
            right: 2px;
            font-size: 10px;
            position: relative;
            top: -5px;
        }
    }

    &__grid {
        width: 97%;
        display: flex;
        justify-content: space-between;

        &-column {
            border-left: 1px solid $darkblue-color;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;
        }
    
        &-title {
            font-size: 20px;
            font-weight: 500;
            height: 25px;
            width: 100%;
            text-align: center;
        }
    
        &-tasks {
            background: linear-gradient($darkblue-color,transparent 1px);
            background-size: 51px 51px;
            width: 100%;
            height: 100%;
        }
    }
}
