@import './addModal';

@import  '../../mixins';
@import  '../../variables';


.header__buttons {
    display: flex;
    align-items: center;

    &-title {
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    &-button {
        font-size: 30px;
        font-weight: 900;
        color: $darkblue-color;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.nav__item-add {
    margin-right: -6px;
    border: none;
    background-color: transparent;
    outline: none;
}

.diary {
    display: flex;
    justify-content: space-between;

    &__time {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        min-width: 3%;

        &-item {
            height: 51px;
            text-align: right;
            right: 2px;
            font-size: 10px;
            position: relative;
            top: -5px;
        }
    }

    &__grid {
        width: 97%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        &-column {
            border-left: 1px solid $darkblue-color;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            height: 100%;
            flex-basis: calc(100% / 7);
            flex-grow: 0;
            flex-shrink: 0;
            position: relative;
        }
    
        &-title {
            font-size: 20px;
            font-weight: 500;
            height: 25px;
            width: 100%;
            text-align: center;
        }
    
        &-tasks {
            background: linear-gradient($darkblue-color,transparent 1px);
            background-size: 51px 51px;
            width: 100%;
            height: 100%;
            position: relative;

            &-task {
                width: 90%;
                min-height: 35px;
                position: absolute;
                color: #fff;
                border-radius: 5px;
                padding: 8px;
                box-sizing: border-box;
                font-size: 19px;
            }
        }
    }
}
