@import  '../../mixins';
@import  '../../variables';

.login {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        @include form(70px);

        &-title {
            margin-bottom: 10px;
    
            &-item {
                display: inline-block;
                font-size: 30px;
                font-weight: 500;
                color: $blue-color;
                cursor: pointer;
                border: none;
                outline: none;
            }
        
            &-item-active {
                @extend .login__form-title-item;
                color: $darkblue-color;
            }
        
            &-slash {
                @extend .login__form-title-item;
                cursor: default;
            }
        }
    }

    &__msg {
        @include msg();
    }

    &__form-main {
        display: flex;
        flex-direction: column;   
        width: 100%;

        &-item {
            @include form-item();
            margin-bottom: 10px;
        }
    
        &-button {
            margin-left: auto;
            @include button();
        }
    }
}