@mixin button() {
    padding: 10px;
    color: $darkblue-color;
    border: 1px solid $darkblue-color;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

@mixin form($padding) {
    border: 1px solid $darkblue-color;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;
}

@mixin form-item() {
    border: 1px solid $darkblue-color;
    color: $darkblue-color;
    border-radius: 7px;
    outline: none;
    font-size: 17px;
    padding: 10px;
}

@mixin msg() {
    margin-bottom: 10px;
}