@import  './mixins';
@import  './variables';

html,
body,
#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  border: 1px solid $darkblue-color;
  background-color: #fff;
  min-height: 700px;
}

#wrapper{
  width: 100vw;
  min-height: 100vh;
  background-color: $blue-color;
  margin: 0;
  padding: 25px 50px 25px 50px;
  color: $darkblue-color;
  box-sizing: border-box
}

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;    
  align-items: center;
}

.header__logo {
  font-size: 33px;
  font-weight: 700;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav__item {
  margin-left: 25px;
  cursor: pointer;
}