.wrapper{
    min-width: 100%;
    min-height: 100%;
    background-color: #a5c6d7;
}
  
.content {
    margin: 0;
    padding: 25px 50px 25px 50px;
    color: #1b375e;
}
  
.header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}
  
.header__logo {
    font-size: 33px;
    font-weight: 700;
}
  
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
  
.nav__item {
    margin-left: 25px;
    cursor: pointer;
}